<div class="c-section">
	<div class="o-wrapper">
		<h1 class="u-visually-hidden">Darren Hall</h1>
		<h2>{{fields.title}}</h2>
		{{{markdown fields.intro}}}
		<div class="o-grid">
			<div class="o-grid__item o-grid__item--1/1 o-grid__item--1/2@md">
		    {{{markdown fields.skills1}}}
			</div>
			<div class="o-grid__item o-grid__item--1/1 o-grid__item--1/2@md">
		    {{{markdown fields.skills2}}}
			</div>
		</div>
    {{{markdown fields.additional}}}
  </div>
</div>
